<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8"/>
            <title>AngularJS</title>
        </head>

        <body ng-app>
            <button ng-click="p1=true; p2=false">Premier paragraphe</button>
            <button ng-click="p1=false; p2=true">second paragraphe</button>
            <p ng-show="p1">Quoi écrire dans un paragraphe? Ah bah .. sayez je l'ai écrit ! HAHA</p>
            <p ng-show="p2">Et pour celui la j'écrit quoi? Ah bah sayez je l'ai écrit aussi ! Je suis trop bon.</p>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        </body>
    </html>
